

{% extends 'base.html' %}
{% block heading %}
Select State
{% endblock %}

{% block content %}
  {% load static %}
  <form method="post"  action="details.html">
    {% csrf_token %}
  <div class="form-row align-items-center " >
    <div class="col-auto my-1 ">
      <label class="mr-sm-2 sr-only" for="inlineFormCustomSelect" >select state</label>
      <select class="custom-select mr-sm-2" id="inlineFormCustomSelect" name="st" >

        {% for item in data %}
        <option style="font-size:10px;" >{{item}}</option>
        {% endfor %}

      </select>
    </div>
    <div class="col-auto my-1">
      <button type="submit" class="btn btn-dark" name="state_name">Submit</button>
    </div>
  </div>
</form>





<div class="world">
  <div class="global" >
    <label>
    <input type="checkbox"  />
    <div class="card" >
        <div class="front" style="background-image: url({% static 'CoronaUpdater/img/corona1.jpg' %});background-size: 150px 150px;"><h3>Wrold</h3></div>
        <div class="back">Confirmed {{world.worldtc}}<br> Recovered {{world.worldtr}}
    <br>Death {{world.worldtd}}
        </div>
    </div>
</label>
    </div>

  <div class="india">
    <label>
    <input type="checkbox"  />
    <div class="card">
        <div class="front" style="background-image: url({% static 'CoronaUpdater/img/india.jpg' %}); background-size: 150px 150px;"><h3>India</h3></div>
        <div class="back">Confirmed {{india.indiatc}}<br> Recovered {{india.indiatr}}
    <br>Death {{india.indiatd}}
        </div>
    </div>
</label>
    </div>
    <div clas="usa">
    <label>
    <input type="checkbox"  />
    <div class="card">
        <div class="front" style="background-image: url({% static 'CoronaUpdater/img/usa.jpg' %});background-size: 150px 150px;"><h3>U.S.A</h3></div>
        <div class="back">Confirmed {{usa.usatc}}<br> Recovered {{usa.usatr}}
    <br>Death {{usa.usatd}}
        </div>
    </div>
</label>
    </div>
    <div class="chaina">
    <label>
    <input type="checkbox"  />
    <div class="card">
        <div class="front" style="background-image: url({% static 'CoronaUpdater/img/chaina.jpg' %}); background-size: 150px 150px;"><h3>Chaina</h3></div>
        <div class="back">Confirmed {{chaina.chainatc}}<br> Recovered {{chaina.chainatr}}
    <br>Death {{chaina.chainatd}}
        </div>
    </div>
</label>
    </div>
    <div class="eng">
    <label>
    <input type="checkbox"  />
    <div class="card">
        <div class="front" style="background-image: url({% static 'CoronaUpdater/img/eng.jpg' %});background-size: 150px 150px;"><h3>U.K.</h3></div>
        <div class="back">Confirmed {{uk.uktc}}<br> Recovered {{uk.uktr}}
    <br>Death {{uk.uktd}}
        </div>
    </div>
</label>
    </div>

  <div class="france">
    <label>
    <input type="checkbox"  />
    <div class="card">
        <div class="front" style="background-image: url({% static 'CoronaUpdater/img/france.jpg' %}); background-size: 150px 150px;"><h3>France</h3></div>
        <div class="back">Confirmed {{france.francetc}}<br> Recovered {{france.francetr}}
    <br>Death {{france.francetd}}
        </div>
    </div>
</label>
    </div>



</div>



 {%endblock%}
